# Project exclude paths
/.gradle/
/Bulls and Cows/task/build/
/Bulls and Cows/task/out/
/Bulls and Cows/task/out/production/classes/
/Problems/Account and its owner/out/
/Problems/Account and its owner/out/production/classes/
/Problems/Accounts/out/
/Problems/Accounts/out/production/classes/
/Problems/Calculating factorials/out/
/Problems/Calculating factorials/out/production/classes/
/Problems/Compression algorithm/out/
/Problems/Compression algorithm/out/production/classes/
/Problems/Concat all strings without digits/out/
/Problems/Concat all strings without digits/out/production/classes/
/Problems/Convert a date/out/
/Problems/Convert a date/out/production/classes/
/Problems/Converting and multiplying/out/
/Problems/Converting and multiplying/out/production/classes/
/Problems/Create a full name/out/
/Problems/Create a full name/out/production/classes/
/Problems/Create an euphonious word/out/
/Problems/Create an euphonious word/out/production/classes/
/Problems/Decompose a math function/out/
/Problems/Decompose a math function/out/production/classes/
/Problems/Division/out/
/Problems/Division/out/production/classes/
/Problems/Find the max of three numbers/out/
/Problems/Find the max of three numbers/out/production/classes/
/Problems/Find the seed/out/
/Problems/Find the seed/out/production/classes/
/Problems/Gaussian random numbers/out/
/Problems/Gaussian random numbers/out/production/classes/
/Problems/Generate random numbers/out/
/Problems/Generate random numbers/out/production/classes/
/Problems/Heron's formula/out/
/Problems/Heron's formula/out/production/classes/
/Problems/Number of occurrences/out/
/Problems/Number of occurrences/out/production/classes/
/Problems/Palindrome/out/
/Problems/Palindrome/out/production/classes/
/Problems/Parse url/out/
/Problems/Parse url/out/production/classes/
/Problems/Preparing full name/out/
/Problems/Preparing full name/out/production/classes/
/Problems/Raise to the power/out/
/Problems/Raise to the power/out/production/classes/
/Problems/Sum of numbers in the range/out/
/Problems/Sum of numbers in the range/out/production/classes/
/Problems/The angle between vectors/out/
/Problems/The angle between vectors/out/production/classes/
/Problems/The lucky ticket/out/
/Problems/The lucky ticket/out/production/classes/
/Problems/Vowel or not/out/
/Problems/Vowel or not/out/production/classes/